* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  border-collapse: collapse;
}
.bodyCell,
.headCell {
  border: 1px solid black;
  padding: 15px;
}

.pointer {
  cursor: pointer;
}
.starIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
